<div id="<%= dom_id cauthu %>">
  <p>
    <strong>Name:</strong>
    <%= cauthu.name %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= cauthu.club %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= cauthu.age %>
  </p>

</div>
